/borland/DLLReportsNEW/Debug

/borland/DLLReportsNEW/*.~h

/borland/DLLReportsNEW/*.~cpp

/borland/DLLReportsNEW/*.~bpf

/borland/DLLReportsNEW/*.~bpr

/borland/DLLReportsNEW/*.tds

/project/OdoPro/Debug

/borland/DLLReportsNEW/*.obj

/project/OdoPro/Release

/project/OdoPro/*.ncb

/project/OdoPro/*.suo

/borland/DLLReportsNEW/bin/*.tds
/borland/DLLReportsNEW/UnitRep/*.obj
/borland/DLLReportsNEW/UnitRep/*.~cpp
/borland/DLLReportsNEW/UnitRep/*.~ddp

/borland/DLLReportsNEW/UnitRep/*.~h

/borland/DLLReportsNEW/UnitRep/*.~dfm

/borland/DLLReportsNEW/*.pdb
