    ul#menu-bar 
    {
      margin:0;
      border-bottom:1px solid threedface;
      border-left:1px solid transparent;
    }
    
    ul#menu-bar:focus 
    {
      border-left:1px solid highlight;
    }
    

    ul#menu-bar > li 
    {
      margin:0 8px;
      background-color:threedface;
    }
    
    /* table menu */    
    menu.table 
    {
      border-spacing:1px;
    }
    menu.table td[role="menu-item"]
    { 
      border:1px solid threedface; 
    }
    menu.table td[role="menu-item"]:current
    { 
      background-color:highlight; color:highlighttext; 
    }
    menu.table caption
    {
      padding:2px;
      font-size:8.5pt;
      background-color: threedlightshadow;
      color: threedshadow;
    }